/* =========================================
   LAPTOP / DESKTOP (1280px - 1439px)
   @media (min-width: 1280px) and (max-width: 1439px)
   ========================================= */

@media (min-width: 1280px) and (max-width: 1439px) {

    .container {
        max-width: 1200px;
    }
}