/* Main CSS Entry Point for Compiler */

@import url('base/fonts.css');
@import url('base/tokens.css');
@import url('base/main.css');
@import url('base/components.css');
@import url('adaptive/layout.css');
@import url('pages/home.css');
@import url('pages/contacts.css');
@import url('pages/faq.css');
@import url('pages/automation.css');
@import url('pages/solutions.css');
@import url('pages/waas.css');
@import url('pages/legal.css');